.poke-stats  {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
    margin: 25px;
}

.Tabla { width: 100%;
    display: flex;
    align-items: space-between;
    flex-direction: column;
}