.ContainerType {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 0;
}

.button {
    height: 2em;
    width: 5em;
    border: 1px solid ;

    border-radius: 5px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    cursor: pointer;
}

