.poke-types {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed;
    margin: 2px 10px 4px 10px;
 
   
}

.button {
font-size: 20px;

border-color: white;
box-shadow: none;
}
