.Types-Ability {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;

  
}
.Body {
  margin: 0;
}

.ContainerImgName{
  display: flex;
  flex-direction: column;
}

.results {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
 
  flex-direction: row;
  align-content: flex-end;
  margin: 50px;
}

.PokemonImg {
  width: 200px;
  border: 3px solid var(--border-img);
  border-radius: 10px;
  box-shadow: 4px 4px 5px #111;
}

.logo-pagina {width: 200px;}

.barra-principal {

 
    height: 95px;
    background-color: rgb(158, 27, 27);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }

.stats{
 width: 50%;

  }
 
 
